* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Nav-Bar-Css*/
.nav-bar-ul {
    list-style: none;
}

#career-selection {
    display: grid;
    grid-template-columns: 3, 1fr;
}

.class {
    border-radius: 50%;
}

#nav-bar-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#nav-bar-li {
    list-style: none;
    display: flex;
    flex-direction: row;
}


#nav-bar {
    display: flex;
    flex-direction: row;
}